<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" title="Angular + Firebase" [routerLink]="['list']"> 
            <img src="./../../../../assets/icons/Angular.ico" /> 
            <i class="fas fa-plus text-white"></i> 
            <img src="./../../../../assets/icons/Firebase.ico" /> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link text-white" routerLinkActive="active" title="Home" [routerLink]="['list']"><i
                            class="fas fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLinkActive="active" title="New" [routerLink]="['new']"> New
                    </a>
                </li> -->
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>