<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" title="Angular + Firebase" [routerLink]="['/home']">
            <img src="./../../../../assets/icons/Angular.ico" />
            <i class="fas fa-plus text-white"></i>
            <img src="./../../../../assets/icons/Firebase.ico" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLinkActive="active" title="Home" [routerLink]="['/home']"><i
                            class="fas fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLinkActive="active" title="Releases" [routerLink]="['/home/main']"> Releases
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLinkActive="active" title="Chat" [routerLink]="['/home/chat']"> 
                        <i class="fas fa-comments"></i>
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search...">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="btnlogout form-inline text-white" *ngIf="_User">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white">{{ _User?.Name }}</a>
                        </li>
                    </ul>
                    <button class="btn text-white" (click)="Logout()" title="Cerrar Sesión"><i class="fas fa-sign-out-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</nav>