// Imports
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@import "../node_modules/bootswatch/dist/flatly/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/flatly/variables";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/ngx-toastr/toastr.css";

// Font Variables
$roboto-slab: 'Robotob', serif;   
$open-sans: 'Open Sans', sans-serif;

body{
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffc107 !important;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #ffc107 !important;
}